* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background: url(../images/login_bg.jpg) no-repeat;
  background-size: cover;
}
.login_Module {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: #ffffff;
}
.login_Module .table_hd {
  width: 170px;
  height: 25px;
  margin: 15px auto;
}
.login_Module .table_enroll {
  display: none;
  padding: 0 43px;
}
.login_Module .table_enroll .layui-form-item {
  position: relative;
}
.login_Module .table_enroll .layui-form-item input {
  padding-left: 30px;
}
.login_Module .table_enroll .layui-form-item i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.login_Module .table_enroll #line_res {
  float: right;
}
.login_Module .table_register {
  padding: 0 43px;
}
.login_Module .table_register .layui-form-item {
  position: relative;
}
.login_Module .table_register .layui-form-item input {
  padding-left: 30px;
}
.login_Module .table_register .layui-form-item i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.login_Module .table_register #line_enroll {
  float: right;
}
