html,
body {
    /* background-color: #fff; */
    background-color: #f2f3f5;
    padding: 15px;
}

.layui-card {
    background-color: #fff;
}

.layui-input {
    width: 27%!important;
    margin: 10px 0;
}